body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.form__input,
.form__button {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}

.form__title {
  text-align: center;
  margin-bottom: 100px;
  font-weight: normal;
}

.form__group {
  margin-bottom: 50px;
}

.form__input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #676a6e;

  outline: none;
  transition: 0.3s;
}

.form__input:focus {
  top: -18px;
  font-size: 15px;

  color: #000000;
}

.form__button {
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: 0 auto 15px;
}

.form__button:focus,
.form__button:hover {
  background-color: rgba(0, 111, 240, 0.7);
}
